<div class="row color2">
  <div class="col-md-3 color1 text-center">
    <h1><%= current_user.name %></h1>
    <img src="http://www.usanetwork.com/sites/usanetwork/files/styles/420x420/public/suits_cast_rachel.jpg?itok=tTdWthXF" class="img-responsive avatar" />
  </div>
  <div class="col-md-9">

    <br>
    <form class="out pull-right" action="/logout" method="POST">
      <input type="submit" value="salir" />
    </form>

      <h2>Que quieres postear:</h2>

        <form  class="feedburner-box" action='/create_post' method="post">
            <input type="text" placeholder="title" name="title">
            <br>
            <br>
            <textarea rows="6" cols="100" name="post" placeholder="Escribe tu post aquí"></textarea>
            <br>
            <br>
            <p>Recuerda separar tus tags sólo con un espacio</p> 
            <input type="text" name="tags" placeholder="tags"> 
            <br>
             
            <!-- <input type="checkbox" name="tags" value="tags"> -->
            <br>
            <input type="submit" value="publicar"> 


        </form>
     </div>

</div>

<div class="row color3">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Tus posts</h1>
    <div class="form-style-8">
    <p>
    <% @user_post.each do |post|%>
     
     
     <fieldset>
      <!-- EDITA EL POST -->
       <a class="pull-right buttons" href='/posts/<%="#{post.id}"%>/edit'>
       Editar
       </a>

       <!--ELIMINA EL POST -->
      <!--  <form onsubmit="confirm('Are you sure you want to delete the following post?')" action="/posts/<%#="#{post.id}"%>/delete" method="POST">
       <input type="hidden" name="method" value="DELETE">
        <input type="submit" value="Delete">
       </form>
 -->
 <!-- DELETE DE JAVASCRIPT -->
       <a class="pull-right buttons" id="<%= post.id %>" data-current-user="<%= current_user.id %>" class="delete_button" href='#'>
       Eliminar
       </a>
      <h2>
        <a href='/posts/<%="#{post.id}"%>'>
        -<%= post.title %>-
        </a>
      </h2>
      <p><%= post.description %></p>
      <% post.tags.each do |tag|%>
        <span class="pull-right">
          <a href='/same_tags/<%="#{tag.id}"%>'>
            #<%= tag.name%>&nbsp;
          </a>
        </span>
      <% end %>
      </fieldset>
      
    <% end %>
    </div>
      
   
  </div>

</div>


 







