<div class="form-style-10">
<h1>
<%= @post.title %>
<br>
<% @post.tags.each do |tag|%>
  <span class="pull-right">
  <a class="tag-size" href='/same_tags/<%="#{tag.id}"%>'>#
   <%=tag.name%>&nbsp;
  </a>
  </span>
  <%end%>
</h1>



<p><%= @post.description %></p>

  <a class="go-back-to-profile" href='/users/<%=current_user.id%>'>
    <!-- falta hacer un boton de regreso al
    perfil
    -->
    <h1>go back to profile</h1>
  </a>
  
</div>